{
  "openapi": "3.0.1",
  "info": {
    "title": "Dashboard API",
    "description": "Dashboard API documentation",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://app.dynamic.xyz/api/v0" },
    { "url": "http://localhost:3333/api/v0" }
  ],
  "tags": [
    { "name": "Analytics" },
    { "name": "SDK" },
    { "name": "Organizations" },
    { "name": "Projects" },
    { "name": "Environments" },
    { "name": "Users" },
    { "name": "Invites" },
    { "name": "Tokens" },
    { "name": "Origins" },
    { "name": "Allowlists" },
    { "name": "Wallets" },
    { "name": "Members" },
    { "name": "Sessions" },
    { "name": "Settings" },
    { "name": "Gates" }
  ],
  "paths": {
    "/environments/{environmentId}/gates": {
      "get": {
        "operationId": "getEnvironmentGates",
        "tags": ["Gates"],
        "summary": "Get the gates for an environment",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "List of gates for this project environment",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GatesResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "operationId": "createGate",
        "tags": ["Gates"],
        "summary": "Creates a new gate for the project environment",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GateCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Gate" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/gates/{gateId}": {
      "get": {
        "operationId": "getGate",
        "tags": ["Gates"],
        "summary": "Gets a gate",
        "parameters": [{ "$ref": "#/components/parameters/gateId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Gate" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "put": {
        "operationId": "updateGate",
        "tags": ["Gates"],
        "summary": "Updates a gate",
        "parameters": [{ "$ref": "#/components/parameters/gateId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GateUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Gate" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "delete": {
        "operationId": "deleteGate",
        "tags": ["Gates"],
        "summary": "Delete a gate",
        "parameters": [{ "$ref": "#/components/parameters/gateId" }],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/gates/{gateId}/enable": {
      "put": {
        "summary": "Enable the gate for the environment",
        "operationId": "enableGate",
        "tags": ["Gates"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/gateId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Gate" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/gates/{gateId}/disable": {
      "put": {
        "summary": "Disable the gate for the environment",
        "operationId": "disableGate",
        "tags": ["Gates"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/gateId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Gate" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/environments/{environmentId}/settings/providers": {
      "get": {
        "operationId": "getEnvironmentProviders",
        "tags": ["Settings"],
        "summary": "Get the providers for an environment",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "List of providers for this project environment",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProvidersResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "operationId": "createProvider",
        "tags": ["Settings"],
        "summary": "Creates a new provider for the project environment",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProviderCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Provider" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/environments/{environmentId}/settings/providers/urls": {
      "get": {
        "operationId": "getEnvironmentProviderUrls",
        "tags": ["Settings"],
        "summary": "Get the URLs for the environment providers",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "List of OAuth urls for the environment providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderUrlsResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/settings/providers/{providerId}": {
      "get": {
        "operationId": "getProvider",
        "tags": ["Settings"],
        "summary": "Gets a provider",
        "parameters": [{ "$ref": "#/components/parameters/providerId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Provider" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "put": {
        "operationId": "updateProvider",
        "tags": ["Settings"],
        "summary": "Updates a provider",
        "parameters": [{ "$ref": "#/components/parameters/providerId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProviderUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Provider" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "delete": {
        "operationId": "deleteProvider",
        "tags": ["Settings"],
        "summary": "Delete a provider by providerId",
        "parameters": [{ "$ref": "#/components/parameters/providerId" }],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/settings/providers/{providerId}/enable": {
      "put": {
        "summary": "Enable the provider for the environment",
        "operationId": "enableProvider",
        "tags": ["Settings"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/providerId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Provider" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/settings/providers/{providerId}/disable": {
      "put": {
        "summary": "Disable the provider for the environment",
        "operationId": "disableProvider",
        "tags": ["Settings"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/providerId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Provider" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/environments/{environmentId}/analytics/wallets": {
      "get": {
        "operationId": "getWalletsBreakdown",
        "description": "Fetch visit analytics",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          {
            "in": "query",
            "name": "startDate",
            "schema": { "type": "string" }
          },
          { "in": "query", "name": "endDate", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Wallets Breakdown by Date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsWalletsBreakdownResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/analytics/visits": {
      "get": {
        "operationId": "getVisitAnalytics",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          {
            "in": "query",
            "name": "startDate",
            "schema": { "type": "string" }
          },
          { "in": "query", "name": "endDate", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Analytics Visit Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsVisitResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations": {
      "post": {
        "operationId": "createOrganization",
        "tags": ["Organizations"],
        "summary": "Creates organization",
        "requestBody": {
          "description": "Organization data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrganizationRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "get": {
        "operationId": "getOrganizationsForMember",
        "tags": ["Organizations"],
        "summary": "Fetches all the active organizations that the user has access to",
        "responses": {
          "200": {
            "description": "successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationsResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations/{organizationId}/billing/subscription": {
      "get": {
        "summary": "Find the subscription of an organization using its ID",
        "operationId": "getBillingSubscriptionByOrganization",
        "tags": ["Organizations"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "responses": {
          "200": {
            "description": "Details of the organziation's current subscription",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BillingSubscription" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations/{organizationId}/billing/upgrade": {
      "put": {
        "summary": "Upgrade organziation to advanced plan",
        "operationId": "upgradeSubscriptionForOrganization",
        "tags": ["Organizations"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "responses": {
          "201": {
            "description": "Details of the organziation's current subscription",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BillingSubscription" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations/{organizationId}": {
      "get": {
        "summary": "Find an organization by ID",
        "operationId": "getOrganizationById",
        "tags": ["Organizations"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "responses": {
          "200": {
            "description": "Organization response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "summary": "Update an organization by ID",
        "operationId": "updateOrganizationById",
        "tags": ["Organizations"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "requestBody": {
          "description": "User new fields data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrganizationFields" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation - organization fields updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "summary": "Deletes an organization by ID",
        "operationId": "deleteOrganizationById",
        "tags": ["Organizations"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "204": { "description": "Delete successful" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "summary": "Find an project by ID",
        "operationId": "getProjectById",
        "tags": ["Projects"],
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "responses": {
          "200": {
            "description": "Project response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "operationId": "updateProject",
        "tags": ["Projects"],
        "summary": "Update a project",
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "requestBody": {
          "description": "Data to update a project",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateProjectRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation - project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProjectResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "summary": "Deletes a project by ID",
        "operationId": "deleteProjectById",
        "tags": ["Projects"],
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "responses": {
          "204": { "description": "Delete successful" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/projects/{projectId}/docs": {
      "get": {
        "operationId": "getProjectDocsUrl",
        "description": "Returns the personalized docs URL for the project",
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "tags": ["Projects"],
        "responses": {
          "200": {
            "description": "Gets personalized doc url.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectDocsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations/{organizationId}/projects": {
      "post": {
        "operationId": "createProject",
        "tags": ["Projects"],
        "summary": "Creates a new project",
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "requestBody": {
          "description": "Data to create a new project",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProjectRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation - project added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "get": {
        "operationId": "getProjects",
        "summary": "Fetches all the active projects the belong to the organization",
        "tags": ["Projects"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/integrations/chainalysis": {
      "get": {
        "summary": "Find the Chainalysis configuration for an environment.",
        "operationId": "getChainalysisByEnvironmentId",
        "tags": ["Chainalysis"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Chainalysis Configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainalysisConfiguration"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not Found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/integrations/chainalysis/sanctions/enable": {
      "put": {
        "summary": "Enable the Sanctions API",
        "operationId": "enableSanctionsApiByEnvironmentId",
        "tags": ["Chainalysis"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainalysisConfiguration"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/environments/{environmentId}/integrations/chainalysis/sanctions/disable": {
      "put": {
        "summary": "Disables the Sanctions API",
        "operationId": "disableSanctionsApiByEnvironmentId",
        "tags": ["Chainalysis"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainalysisConfiguration"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/environments/{environmentId}": {
      "get": {
        "summary": "Find an environment by ID",
        "operationId": "getEnvironmentById",
        "tags": ["Environments"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Environment response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectEnvironment" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "summary": "Deletes an environment by ID",
        "operationId": "deleteEnvironmentById",
        "tags": ["Environments"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "204": { "description": "Delete successful" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "put": {
        "operationId": "updateProjectSettings",
        "tags": ["Environments"],
        "summary": "Updates the environment settings",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProjectSettings" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project settings response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectSettings" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/statistics/visitors": {
      "get": {
        "operationId": "getVisitorsCountByEnvironmentId",
        "tags": ["Environments"],
        "summary": "Get the unique number of visitors for an environment by environment ID",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Environment Unique Visitor Count Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVisitorsResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/keys": {
      "get": {
        "operationId": "getKeysForEnvironment",
        "tags": ["Environments"],
        "summary": "Get keys for an environment given environmentId",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Environment Key response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeyResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Key not found" },
          "500": { "description": "Error response" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/projects/{projectId}/environments": {
      "get": {
        "operationId": "getEnvironmentsByProjectId",
        "tags": ["Environments"],
        "summary": "Get Live and Sandbox environments by projectId",
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "responses": {
          "200": {
            "description": "Project environments response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentsResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/sessions/{sessionId}/revoke": {
      "put": {
        "summary": "Revoke a session",
        "operationId": "revokeSessionById",
        "tags": ["Sessions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/sessionId" }],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Session" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/users/{userId}/wallets": {
      "get": {
        "operationId": "getWalletsByUserId",
        "tags": ["Wallets"],
        "summary": "Get wallets by user",
        "parameters": [{ "$ref": "#/components/parameters/userId" }],
        "responses": {
          "200": {
            "description": "Successful response with list of wallets",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserWalletsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/wallets/{walletId}": {
      "get": {
        "operationId": "getWalletById",
        "tags": ["Wallets"],
        "summary": "Get a wallet using the ID",
        "parameters": [{ "$ref": "#/components/parameters/walletId" }],
        "responses": {
          "200": {
            "description": "Successful response with wallet",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wallet" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "operationId": "deleteWalletById",
        "tags": ["Wallets"],
        "summary": "Delete wallet",
        "parameters": [{ "$ref": "#/components/parameters/walletId" }],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users/{userId}": {
      "put": {
        "operationId": "updateUser",
        "tags": ["Users"],
        "summary": "Update a user",
        "parameters": [{ "$ref": "#/components/parameters/userId" }],
        "requestBody": {
          "description": "User new fields data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InternalUserFields" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response of a user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "get": {
        "operationId": "getUser",
        "tags": ["Users"],
        "summary": "Get a user by Id",
        "parameters": [{ "$ref": "#/components/parameters/userId" }],
        "responses": {
          "200": {
            "description": "Successful response of a user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": ["Users"],
        "summary": "Delete user",
        "parameters": [{ "$ref": "#/components/parameters/userId" }],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/users": {
      "post": {
        "operationId": "createUser",
        "summary": "Creates a new user",
        "tags": ["Users"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "User new fields data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserFields" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created new user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "get": {
        "operationId": "getEnvironmentUsers",
        "tags": ["Users"],
        "summary": "Get all users for an environment",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "style": "form",
            "schema": { "$ref": "#/components/schemas/UserSearchFilterParams" }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": { "$ref": "#/components/schemas/orderBy" }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "The number of items to skip before starting to collect the result set",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "The numbers of items to return",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsersResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/visitors": {
      "get": {
        "operationId": "getEnvironmentVisitors",
        "tags": ["Visits"],
        "summary": "Get all visitors for an environment",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "style": "form",
            "schema": {
              "$ref": "#/components/schemas/VisitorSearchFilterParams"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": { "$ref": "#/components/schemas/orderBy" }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "The number of items to skip before starting to collect the result set",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "The numbers of items to return",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of visitors",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VisitorsResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/members/{memberId}": {
      "delete": {
        "operationId": "deleteMemberById",
        "summary": "Delete user membership from being an admin of an organization",
        "tags": ["Members"],
        "parameters": [{ "$ref": "#/components/parameters/memberId" }],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations/{organizationId}/members": {
      "get": {
        "operationId": "getOrganizationMembers",
        "tags": ["Members"],
        "summary": "Get all users that are admins for an organization",
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "responses": {
          "200": {
            "description": "List of members for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembersResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/invites": {
      "get": {
        "operationId": "getInvites",
        "tags": ["Invites"],
        "summary": "Get all the user invites",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": { "$ref": "#/components/schemas/InviteStatusEnum" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of invites by query params",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvitesResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/invites/{inviteId}": {
      "put": {
        "operationId": "updateInvite",
        "tags": ["Invites"],
        "summary": "Update invite for user (accept/reject)",
        "parameters": [{ "$ref": "#/components/parameters/inviteId" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InviteUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": { "description": "Invite updated" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/organizations/{organizationId}/invites": {
      "post": {
        "operationId": "createInvite",
        "summary": "Creates an invite to the organization",
        "tags": ["Invites"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InviteSendRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": { "description": "Invite created" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": {
            "description": "Conflict - already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteConflictResponse"
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "get": {
        "summary": "Fetches all the Invites the belong to the organization",
        "operationId": "getOrganizationInvitesByOrganizationId",
        "tags": ["Invites"],
        "parameters": [{ "$ref": "#/components/parameters/organizationId" }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvitesResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/origins": {
      "get": {
        "operationId": "getOrigins",
        "tags": ["Origins"],
        "summary": "Get all the allowed origins for a project environment",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "List of allowed origins for this project environment",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OriginsResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/text": { "schema": { "type": "string" } }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "operationId": "addOrigin",
        "tags": ["Origins"],
        "summary": "Adds an allowed origin for this project environment",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Fields necessary to add an origin",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "origin": { "$ref": "#/components/schemas/origin" }
                },
                "required": ["origin"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Origin was added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "origin": { "$ref": "#/components/schemas/OriginResponse" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "status": { "type": "number" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/text": { "schema": { "type": "string" } }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/origins/{originId}": {
      "delete": {
        "operationId": "deleteOriginById",
        "tags": ["Origins"],
        "summary": "Delete a origin by id",
        "parameters": [{ "$ref": "#/components/parameters/originId" }],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/tokens": {
      "get": {
        "operationId": "getTokens",
        "tags": ["Tokens"],
        "summary": "Get all the tokens for a project environment (does not include the raw token)",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokensResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "operationId": "postToken",
        "tags": ["Tokens"],
        "summary": "Create a new API Token",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Fields necessary to create a new token",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostTokenFields" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The token that has been created, including the plaintext of the token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateTokenResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/tokens/{tokenId}": {
      "delete": {
        "operationId": "deleteTokenById",
        "tags": ["Tokens"],
        "summary": "Delete a token by token id",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/tokenId" }
        ],
        "responses": {
          "204": { "description": "successful operation" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "description": "Not found" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/environments/{environmentId}/allowlists": {
      "get": {
        "summary": "Get all allowlists for a environment",
        "operationId": "getAllowlistsByEnvironmentId",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Get allowlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Allowlist" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "summary": "Create new allowlist for a environment",
        "operationId": "createAllowlistByEnvironmentId",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Fields necessary to create a new allowlist",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostAllowlistsRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Allowlist" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/allowlists/{allowlistId}": {
      "get": {
        "summary": "Get allowlist by id",
        "operationId": "getAllowlistsById",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/allowlistId" }],
        "responses": {
          "200": {
            "description": "Get allowlist",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Allowlist" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "delete": {
        "summary": "Delete an allowlist",
        "operationId": "deleteAllowlistById",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/allowlistId" }],
        "responses": {
          "204": { "description": "Successfully deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/allowlists/{allowlistId}/enable": {
      "put": {
        "summary": "Enable the allowlist",
        "operationId": "enableAllowlistById",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/allowlistId" }],
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Allowlist" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/allowlists/{allowlistId}/disable": {
      "put": {
        "summary": "Disable the allow list",
        "operationId": "disableAllowlistById",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/allowlistId" }],
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Allowlist" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/allowlists/{allowlistId}/entries": {
      "get": {
        "summary": "Get all entries for an allowlist",
        "operationId": "getEntriesByAllowlistId",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/allowlistId" },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": { "$ref": "#/components/schemas/orderBy" }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "The number of items to skip before starting to collect the result set",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "The numbers of items to return",
            "required": false
          },
          {
            "name": "query",
            "in": "query",
            "description": "Keywords to search for in alias or walletPublicKey",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Get allowlist entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistEntriesResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "summary": "Create a new entry for an allowlist",
        "operationId": "postEntryByAllowlistId",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/allowlistId" }],
        "requestBody": {
          "description": "Fields necessary to create a new allowlist entry",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAllowlistEntriesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AllowlistEntry" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/allowlistEntries/{allowlistEntryId}": {
      "delete": {
        "summary": "Delete an allowlist entry",
        "operationId": "deleteAllowlistEntryById",
        "tags": ["Allowlists"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/allowlistEntryId" }],
        "responses": {
          "204": { "description": "Successfully deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/providers/{providerType}/login": {
      "options": {
        "operationId": "oauthLoginOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/providerType" }
        ],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "operationId": "oauthLogin",
        "tags": ["SDK"],
        "summary": "Get redirect URL for Oauth provider login",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/providerType" }
        ],
        "responses": {
          "302": {
            "description": "Redirect",
            "headers": { "Location": { "schema": { "type": "string" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/providers/{providerType}/redirect": {
      "options": {
        "operationId": "oauthRedirectOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/providerType" }
        ],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "operationId": "oauthRedirectCode",
        "tags": ["SDK"],
        "summary": "Hacky endpoint to get the code",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/providerType" },
          {
            "in": "query",
            "name": "code",
            "allowReserved": true,
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "scope",
            "allowReserved": true,
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "authuser",
            "allowReserved": true,
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "prompt",
            "allowReserved": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": { "text/html": { "schema": { "type": "string" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/providers/{providerType}/verify": {
      "options": {
        "operationId": "oauthVerifyOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/providerType" }
        ],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "oauthVerify",
        "tags": ["SDK"],
        "summary": "Standard OAuth verify callback to exchange temproary code for oauth access",
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          { "$ref": "#/components/parameters/providerType" }
        ],
        "requestBody": {
          "description": "OAuth temporary auth code",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OauthRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/nonce": {
      "options": {
        "operationId": "nonceOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "operationId": "getNonce",
        "tags": ["SDK"],
        "summary": "Creates a nonce for the authentication flow",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Nonce response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NonceResponse" }
              }
            }
          },
          "500": { "description": "Error response" }
        }
      }
    },
    "/sdk/{environmentId}/events": {
      "options": {
        "operationId": "eventsOptions",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "publishEvent",
        "tags": ["SDK"],
        "summary": "Publish events for SDK",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Event Message",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublishEvents" }
            }
          }
        },
        "responses": {
          "204": { "description": "Successful response" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Environment not found" },
          "500": { "description": "Error response" }
        }
      }
    },
    "/sdk/{environmentId}/settings": {
      "options": {
        "operationId": "settingsOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "operationId": "getEnvironmentSettings",
        "tags": ["SDK"],
        "summary": "Get the environment's settings",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Project settings response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectSettings" }
              }
            }
          },
          "404": { "description": "Environment not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/verify/link": {
      "options": {
        "operationId": "verifyLinkOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "verifyLink",
        "summary": "Link a wallet to a valid environment user, and return an updated JWT",
        "security": [{ "bearerAuth": [] }],
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Verification data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful link",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "$ref": "#/components/responses/ForbiddenWithErrorAndPayload"
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/verify/transfer": {
      "options": {
        "operationId": "verifyTransferOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "verifyTransfer",
        "summary": "This is a subsequent call to link a wallet after user has confirmed transfer to the new account",
        "security": [{ "bearerAuth": [] }],
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Verification data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful link",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "$ref": "#/components/responses/ForbiddenWithErrorAndPayload"
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/revoke": {
      "options": {
        "operationId": "revokeSessionOption",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "revokeSession",
        "summary": "Revoke a session from the SDK environment",
        "security": [{ "bearerAuth": [] }],
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Successful empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "$ref": "#/components/responses/ForbiddenWithErrorAndPayload"
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/verify/unlink": {
      "options": {
        "operationId": "verifyUnlinkOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "verifyUnlink",
        "summary": "Remove a link from to a valid environment user, and return an updated JWT",
        "security": [{ "bearerAuth": [] }],
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "Verification data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyUnlinkRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful link",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "$ref": "#/components/responses/ForbiddenWithErrorAndPayload"
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/prefetch": {
      "options": {
        "operationId": "verifyPrefetch",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Environment not found" }
        }
      },
      "post": {
        "operationId": "prefetch",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "summary": "Endpoint to send minimal wallet information to the API to prefetch name service information for an address.",
        "requestBody": {
          "description": "Prefetch data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PrefetchRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Environment not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/connect": {
      "options": {
        "operationId": "optionsConnect",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Environment not found" }
        }
      },
      "post": {
        "operationId": "createVisit",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "summary": "Endpoint to send minimal wallet information for a connect-only or connect-first visitor.",
        "requestBody": {
          "description": "Connected Visit data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConnectRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Environment not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/verify": {
      "options": {
        "operationId": "verifyOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "verify",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "summary": "Verifies payload and returns jwt",
        "requestBody": {
          "description": "Verification data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful verify response, that contains the encoded JWT as a string.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": {
            "$ref": "#/components/responses/ForbiddenWithErrorAndPayload"
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/users": {
      "options": {
        "operationId": "usersOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "put": {
        "operationId": "updateSelf",
        "tags": ["SDK"],
        "summary": "Update the user's fields",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "requestBody": {
          "description": "User new fields data",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserFields" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation - user fields updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateSelfResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/sdk/{environmentId}/networks": {
      "options": {
        "operationId": "networksOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "summary": "Find the configuration for the enabled networks associated to an environment",
        "operationId": "getNetworksConfigurationByEnvId",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "Networks configuration response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkConfigurationResponse"
                  }
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/onramps": {
      "options": {
        "operationId": "onrampsOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "summary": "Find the configuration for the enabled onramps associated to an environment",
        "operationId": "getSupportedOnramps",
        "tags": ["SDK"],
        "parameters": [
          { "$ref": "#/components/parameters/environmentId" },
          {
            "in": "query",
            "name": "walletAddress",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "in": "query",
            "name": "chain",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "in": "query",
            "name": "networkId",
            "schema": { "type": "string" },
            "required": false
          },
          {
            "in": "query",
            "name": "token",
            "schema": { "type": "string" },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Supported onramps response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedOnrampsResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/emailVerifications/create": {
      "options": {
        "operationId": "createEmailVerificationOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "createEmailVerification",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "summary": "initializes the email verification process",
        "requestBody": {
          "description": "Email Verification data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful response, that contains verification UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationCreateResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/emailVerifications/verify": {
      "options": {
        "operationId": "verifyEmailVerificationOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "verifyEmailVerification",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "security": [{ "bearerAuth": [] }],
        "summary": "verify the email verification request",
        "requestBody": {
          "description": "Email Verification data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response, that contains verification UUID.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateSelfResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/emailVerifications/signin": {
      "options": {
        "operationId": "signInWithEmailVerificationOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "operationId": "signInWithEmailVerification",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "summary": "verify the email and sign in the user",
        "requestBody": {
          "description": "Email Verification data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/emailVerifications/retry": {
      "options": {
        "operationId": "retryEmailVerificationOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "post": {
        "operationId": "retryEmailVerification",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "summary": "Sends a new code for the email verification flow",
        "requestBody": {
          "description": "Email Verification Id",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationRetryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful response, a new code has been set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationCreateResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/sdk/{environmentId}/.well-known/jwks": {
      "options": {
        "operationId": "jwksOptions",
        "tags": ["SDK"],
        "summary": "Options call for this endpoint",
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "204": { "description": "Empty response" },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "summary": "Find the jwks for the public key for this environment",
        "operationId": "getJwksByEnvironmentId",
        "tags": ["SDK"],
        "parameters": [{ "$ref": "#/components/parameters/environmentId" }],
        "responses": {
          "200": {
            "description": "public key with standard jwks format",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JwksResponse" }
              }
            }
          },
          "404": { "description": "Environment not found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "allowlistId": {
        "name": "allowlistId",
        "in": "path",
        "description": "ID of the allowlist",
        "required": true,
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "allowlistEntryId": {
        "in": "path",
        "name": "allowlistEntryId",
        "required": true,
        "description": "ID of the allowlist entry",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "environmentId": {
        "in": "path",
        "name": "environmentId",
        "required": true,
        "description": "ID of the environment",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "gateId": {
        "in": "path",
        "name": "gateId",
        "required": true,
        "description": "ID of the gate",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "providerId": {
        "in": "path",
        "name": "providerId",
        "required": true,
        "description": "ID of the provider",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "providerType": {
        "in": "path",
        "name": "providerType",
        "required": true,
        "description": "Type of external auth provider",
        "schema": { "$ref": "#/components/schemas/ProviderEnum" }
      },
      "inviteId": {
        "in": "path",
        "name": "inviteId",
        "required": true,
        "description": "ID of the invite",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "memberId": {
        "in": "path",
        "name": "memberId",
        "required": true,
        "description": "ID of the membership",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "organizationId": {
        "in": "path",
        "name": "organizationId",
        "required": true,
        "description": "ID of organization",
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "originId": {
        "name": "originId",
        "in": "path",
        "description": "ID of the origin",
        "required": true,
        "schema": { "$ref": "#/components/schemas/uuid" }
      },
      "projectId": {
        "name": "projectId",
        "in": "path",
        "required": true,
        "description": "ID of project",
[...]
